body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: rgb(37, 37, 37);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #7abe2c;
    color: black;
}

.topnav a.active {
    color: #92CF4C;
}

.right a {
    float: right;
}

.logout {
    overflow: hidden;
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 16px 20px;
    border: none;
    opacity: 0.8;
    position: relative;
    float: right;
    width: auto;
    height: auto;
    font-size: 14px;
}

.logout:hover {
    background-color: #4CAF50;
    color: white;
}

.form-popup {
    display: none;
    position: fixed;
    top: 60px;
    right: 5px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
}

.form-container .btn {
    background-color: #92CF4C;
    color: white;
    padding: 20px 20px 20px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}

.logout-header {
    size: 100px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 5px;
}

.form-container .btn:hover {
    opacity: 1;
}